
/* You can uncomment this line if you wish to use tailwindcss*/
// @import '~tailwindcss/dist/tailwind.css';

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import 'base/variables';
@import 'base/mixins';
@import 'base/containers';
@import 'base/grid';
@import 'base/spacing';
@import 'base/wordpress';

/*--------------------------------------------------------------
# Partials
--------------------------------------------------------------*/
@import 'partials/colours';
@import 'partials/helpers';
@import 'partials/links';
@import 'partials/typograhy';


